* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

.logo {
  color: gold;
}


/* .header-container {
  width: 100%;
} */

header {
  background-color: #000000;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  /* flex-direction: column; */
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

header h1 {
  display: inline-block;
  /* margin-left: 1rem; */
  /* margin-left: 5rem; */
  font-size: 2rem;
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

nav {
  display: inline-block;
}

nav li {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.container {
  position: relative;
  display: flex;
}

.text {
  width: 50%;
  background-color: rgb(32, 29, 29);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  display: flex;
}

.text h1 {
  padding: 1.2rem;
  font-size: calc(28px + 2vmin);
  color: white;
}

.container-2 {
  position: relative;
  display: flex;
}

.text-2 {
  width: 50%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  display: flex;
}

.text-2 h1 {
  padding: 1.2rem;
  font-size: calc(28px + 2vmin);
}

/* .container-3 {
  position: relative;
  display: flex;
}

.text-3 {
  width: 100%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  display: flex;
}

.text-3 h1 {
  width: 50%;
  font-size: calc(20px + 2vmin);
  color: white;
  background-color: rgb(32, 29, 29);
  height: 200px;
}

.text-3 h2 {
  font-size: calc(20px + 2vmin);
  width: 50%;
  background-color: gold;
  height: 200px;
} */

.service-workers {
  width: 50%;
  height: auto;
  /* object-fit: cover; */
}
